.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-item{
    font-family: 'Courier New', Courier, monospace;
    background-color: #98dbc9;
    flex: 1;
}

.title{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
}