.box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box-item{
    font-family: 'Inter', Courier, monospace;
    background-color: #98dbc9;
    flex: 1;
}

.title{
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container-item1{
    grid-column: 1 / 3;
}

.container2{
    display: grid;
    grid-template-areas:
     "header header header"
     "sidebar main main"
     "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
    height: 50vh;
}

.header{
    grid-area: header;
    background-color: rgb(173, 216, 150);
}

.sidebar{
    grid-area: sidebar;
    background-color: burlywood;
}

.main{
    grid-area: main;
    background-color: lightsalmon;
}

.footer{
    grid-area: footer;
    background-color: coral;
}